@{
    ViewData["Title"] = "Help Home";
}

@section Header {
    <h1>Welcome to the Help Page</h1>
    <p>Click on the tabs to switch between the Help Home and the Tutorial.</p>
}

<div class="tab-content" id="helpTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h2>Help Home</h2>
        <p>This is the home section of the Help page. Here, you can find general information about using the website.</p>
        <p><a href="@Url.Action("Page1", "Tutorial", new { area = "Help" })" class="btn btn-primary">Start Tutorial</a></p>
    </div>
</div>
