@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="bg-light py-4 border-bottom mb-4">
    <div class="container">
        @RenderSection("Header", required: false)
    </div>
</header>

<div class="container">
    @RenderBody()
</div>

