@{
    Layout = "~/Views/Shared/_Layout.cshtml";  // Refers to the main layout
}

<header>
    @RenderSection("Header", required: false)  <!-- Render the "Header" section from views -->
</header>

<div class="container">
    @RenderBody()  <!-- This is where the content of the page will be rendered -->
</div>

