@{
    ViewData["Title"] = "Contact";
}

@section Header {
    <h1>Contact Me</h1>
}

@if (ViewBag.Contacts != null)
{
    foreach (var contact in ViewBag.Contacts)
    {
        <div class="mb-4">
            <p>@contact</p>
            <hr />
        </div>
    }
}
else
{
    <p>No contact info available.</p>
}
