@{
    ViewData["Title"] = "Tutorial Page 3";
}

@section Header {
    <h1>Tutorial - Page 3</h1>
}

<p>This is tutorial page 3.</p>

<a href="@Url.Action("Page2", "Tutorial", new { area = "Help" })" class="btn btn-secondary">Prev</a>
