@{
    ViewData["Title"] = "Tutorial Page 2";
}

@section Header {
    <h1>Tutorial - Page 2</h1>
}

<p>This is tutorial page 2.</p>

<a href="@Url.Action("Index", "Tutorial", new { id = 1, area = "Help" })" class="btn btn-secondary">Prev</a>
<a href="@Url.Action("Index", "Tutorial", new { id = 3, area = "Help" })" class="btn btn-primary">Next</a>
